# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.db
*.sqlite3
media/
staticfiles/
local_settings.py

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
docker-compose.override.yml

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
.mypy_cache/
.dmypy.json
.pyre/