{% load static %}
<div class="main-banner header-text">
    <div class="container-fluid">
      <div class="owl-banner owl-carousel">
        {% for blog  in blogs|slice:"6"  %}
        <div class="item">
          <img src="{{blog.Banner.url}}" alt="">
          <div class="item-content">
            <div class="main-content">
              <div class="meta-category">
                <span>{{blog.category}}</span>
              </div>
              <a href="{% url 'blog_datails' blog.slug%}"><h4>{{blog.title}}</h4></a>
              <ul class="post-info">
                <li><a href="#">{{blog.user.username}}</a></li>
                <li><a href="#">{{blog.created}}</a></li>
                <li><a href="#">{{blog.blog_comment.count}} comments </a></li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>