{% extends 'base.html' %}
{%block content%}

{% include 'banner_car.html' %}
<section class="blog-posts">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">
              {% for blog in blogs|slice:'3' %}
              <div class="col-lg-12">
                <div class="blog-post">
                  <div class="blog-thumb">
                    <img src="{{blog.Banner.url}}" alt="">
                  </div>
                  <div class="down-content">
                    <span>{{blog.category}}</span>
                    <a href="{% url 'blog_datails' blog.slug %}"><h4>{{blog.title}}</h4></a>
                    <ul class="post-info">
                      <li><a href="#">{{blog.user.username}}</a></li>
                      <li><a href="#">{{blog.created}}</a></li>
                      <li><a href="#">{{blog.blog_comment.count}} commnets</a></li>
                    </ul>
                    <p>{{blog.description|truncatewords:30|safe}}</p>
                    <div class="post-options">
                      <div class="row">
                        <div class="col-6">
                          <ul class="post-tags">
                            {% if blog.tags.count > 0 %}
                            {% for tag in blog.tags.all  %}
                            <li><i class="fa fa-tags"></i></li>
                            <li><a href="#">{{tag.title}}</a></li>
                            {% endfor %}
                            {% else %}
                            <li><i class="fa fa-tags"></i></li>
                            <li><a href="#">None</a></li>
                            {% endif %}
                            
                          </ul>
                        </div>
                        <div class="col-6">
                          <ul class="post-share">
                           
                            <li><i class="fa fa-share-alt"></i></li>
                            <li><a href="#">Facebook</a>,</li>
                            <li><a href="#"> Twitter</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              
              <div class="col-lg-12">
                <div class="main-button">
                  <a href="{%url 'post'%}">View All Posts</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="row">
              <div class="col-lg-12">
                <div class="sidebar-item search">
                  <form id="search_form" name="gs" method="GET" action="{%url  'search'%}">
                    <input type="text" name="search" class="searchText" placeholder="type to search..." autocomplete="on">
                  </form>
                </div>
              </div>
             
              {% include 'sidebar.html' %}


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{%endblock%}