<div class="col-lg-12">
    <ul class="page-numbers">
        {% if blogs.has_previous %}
        <li><a href="?page={{blogs.previous_page_number}}"><i class="fa fa-angle-double-left"></i></a></li>
        {% endif %}

      {% for page in paginator.page_range%}
      {% if page == blogs.number  %}
      <li class="active"><a href="?page={{page}}">{{page}}</a></li>
     {% else %}
      <li ><a href="?page={{page}}">{{page}}</a></li>
      
      {% endif %}
      
      {% endfor %}
      {% if blogs.has_next %}
      <li><a href="?page={{blogs.next_page_number}}"><i class="fa fa-angle-double-right"></i></a></li>
      {% endif %}
    </ul>
  </div>