{% extends 'base.html' %}
{% block content %}

<section class="profile">
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-md-4">
                <div class="text-center">
                    <img class="rounded rounded-circle profile-picture" src="{{request.user.get_profile_image}}" alt="">
                    {% if request.user.is_superuser %}
                    <ul class="text-center py-3">
                        <li class="py-2">
                            <span>Welcome <strong>{{request.user.username}}</strong></span>
                        </li>

                        <li class="py-2">
                            <span>Posts: <strong>{{account.blog_user.count}}</strong></span>
                        </li>
                       
                    </ul>
                    {%else%}
                    <ul class="text-center py-3">
                        <li class="py-2">
                            <span>Welcome <strong>{{request.user.username}}</strong></span>
                        </li>
                        </ul>
                    {%endif%}
                </div>
                <div class="text-center pt-2 pb-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Update Profile Picture
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Profile Picture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <form method="POST" action="{% url 'pro_picture'%}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="file" name="profile_image" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                {% if request.user.is_superuser %}
                <ul class="list-group text-center mt-2 mb-5">
                    <li class="list-group-item my-1">
                        <a class="text-decoration-none" href="{% url 'my_blog'%}">
                            My Blogs
                        </a>
                    </li>
                    <li class="list-group-item my-1">
                        <a class="text-decoration-none" href="{% url 'add_blog'%}">
                            Add Blog
                        </a>
                    </li>
                </ul>
                {%endif%}
            </div>
            <div class="col-md-8">
                <form class="px-4" action="{% url 'profile' %}" method="POST">
                    {% csrf_token %}
                    {% if messages %}
                    <div class="form-group">
                        {% include 'msg.html' %}
                    </div>
                    {% endif %}
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <div class="alert danger">
                        <p class="text-danger">
                            {{error}}
                        </p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <input class="form-control" name="first_name"  value="{{account.first_name}}" type="text">
                        <p class="text-danger error py-1">{{form.first_name.errors}}</p>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input class="form-control" name="last_name"  value="{{account.last_name}}" type="text">
                        <p class="text-danger error py-1">{{form.last_name.errors}}</p>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" name="username"  value="{{account.username}}" type="text">
                        <p class="text-danger error py-1">{{form.username.errors}}</p>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" name="email"  value="{{account.email}}" type="email">
                        <p class="text-danger error py-1">{{form.email.errors}}</p>
                    </div>
                    <div class="form-group">
                        <label for="email">Phone Number</label>
                        <input class="form-control" name="phone"  value="{{account.phone}}" type="text">
                        <p class="text-danger error py-1">{{form.phone.errors}}</p>
                    </div>
                    <div class="form-group">
                        <label for="new_password">New Password</label>
                        <input class="form-control" name="new_password"  value="" type="password">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input class="form-control" name="confirm_password"  value="" type="password">
                    </div>
                    <div class="form-group mt-2">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}