{% extends 'base.html' %}
{% block content %}

<section class="contact-us">
    <div class="container">
      <div class="row">
      
        <div class="col-lg-12">
          <div class="down-contact">
            <div class="row">
              <div class="col-lg-8">
                <div class="sidebar-item contact-form">
                  <div class="sidebar-heading">
                    <h2>Create your account</h2>
                  </div>
                  <div class="content">
                    <form id="contact" action="" method="POST" novalidate>
                      {% csrf_token %}
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <fieldset>
                            <input name="username" {% if form.is_bound %} value="{{form.username.value}}" {% endif %} type="text" id="username_id" placeholder="Your username" >
                            <p class="py-1 text-danger errors">{{form.username.errors}}</p>
                          </fieldset>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <fieldset>
                              <input name="email" {% if form.is_bound %} value="{{form.email.value}}" {% endif %} type="email" id="email_id" placeholder="Your email" >
                            <p class="py-1 text-danger errors">{{form.email.errors}}</p>
                            </fieldset>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              <input name="phone" {% if form.is_bound %} value="{{form.phone.value}}" {% endif %} type="text" id="email_id" placeholder="Your phone number" >
                            <p class="py-1 text-danger errors">{{form.phone.errors}}</p>
                            </fieldset>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              <input name="password" type="password" id="password_id" placeholder="Your password" >
                              <p class="py-1 text-danger errors">{{form.password.errors}}</p>
                            </fieldset>
                          </div>
                        <div class="col-md-12 col-sm-12">
                          <fieldset>
                            <input name="confirm_password" type="password" id="confirm_password_id" placeholder="Retype password" >
                            <p class="py-1 text-danger errors">{{form.confirm_password.errors}}</p>
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="main-button mr-2">Signup</button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </section>


{% endblock content %}